default:
  pds.host: localhost
  pds.port: 7799
  pds.database: "<SECRET>"
  pds.user: "<SECRET>"
  pds.pw: "<SECRET>"
  oracle.jdbc.path: "~/ojdbc8.jar"
  LoincPartLink.file: "~/Loinc_2.67/AccessoryFiles/PartFile/LoincPartLink.csv"
  Part.file: "~/Loinc_2.67/AccessoryFiles/PartFile/Part.csv"
  reviewed.systems.file: "pds_loinc_systems_reviewed.csv"
  reviewed.properties.file: "pds_loinc_properties_reviewed.csv"
  PartRelatedCodeMapping.file: "~/Loinc_2.67/AccessoryFiles/PartFile/PartRelatedCodeMapping.csv"
  bioportal.api.key: "<SECRET>"
